 <div class="user-details">
  <h1> About Us </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Digitisation</h2>
      <!-- <i class="devicon-html5-plain-wordmark"></i> -->
      <!-- <i class="devicon-bootstrap-plain-wordmark colored"></i> -->
      <!-- <i class="devicon-sass-original colored"></i> -->
      <p>Artificial intelligence is only as good as the data it runs on. So when more than 80% of data in enterprises is unstructured, and hence outside the purview of AI systems, 
        you have a problem. It is a problem that Augeos AI has tackled, by developing the only solution with cognitive-machine-reading capability that can ingest structured unstructured, semi-structured, inferred and image-based data.
        </p>
    </div>
    <div class="tech">
      <h2>Automation</h2>
      <!-- <i class="devicon-javascript-plain colored"></i> -->
      <!-- <i class="devicon-react-original-wordmark colored"></i> -->
      <!-- <i class="devicon-nodejs-plain-wordmark"></i> -->
      <p>Our integrated, intelligent automation suite combines advanced data ingestion and industry-agnostic automation capabilities into a single platform.
        It is created for process design flexibility, and enables enterprise users to create, test and deploy models to automate processes, without having to write codes.
        </p>
    </div>
    <div class="tech">
      <h2>Artificial Intelligence</h2>
      <!-- <i class="devicon-git-plain"></i> -->
      <!-- <i class="devicon-gulp-plain colored"></i> -->
      <!-- <i class="devicon-atom-original-wordmark"></i> -->
      <p>Our Intelligent Energy Solutions leverages machine learning, pattern recognition, adaptive learning and deep learning that empower enterprises to efficiently build 
        data-driven intelligence into real-world systems for business decision-making.</p>
    </div>
</div>
