<div class="user-details">
  <h1> Our Service </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Oil and Gas Production </h3>
    <p>Provide real-time decision support across complex production variables to maximize production yield.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Renewable Energy </h3>
    <p> Improve quality control, reduce downtime, minimise part failure and increase production yield by providing data-driven decision support for condition based maintenance leading to reduction in the cost of maintenance of key infrastructures</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Robotics </h3>
    <p>Deploy and control robots to maintain complex equipment, and perform tasks in high-risk areas.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<div class="user-details">
  <h1> How it Works </h1>
  <h3> Build.  Train.  Deploy. </h3>
  <p>The Intelligent Energy Solutions will automatically compiles energy infrastructure engineering data from various sensors into machine learning models, enabling enterprises to more efficiently build intelligence into real-world systems.</p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Build. </h3>
    <p>Infrastructure engineering data from various sensors combined with both domain expert knowledge and physics models are fed into the Intelligent Energy Solutions Engine for training.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Train. </h3>
    <p>Based on the program, the Intelligent Energy Solutions Engine automatically selects the best machine learning algorithm to train an AI model, with some tuning of the hyperparameters if required.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Deploy. </h3>
    <p>A trained model can then stream predictions or recommendations to enterprise applications, drastically improving the operations of their real-world systems. Each model can be continually managed, tuned, debugged, and improved upon from within the Intelligent Energy Solutions Platform.</p>
    <a class="project-link" href="#">Learn more</a>
  </div>
</div>